<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>
</head>
<body>
    <nav>
        <a href="/" <%- title === "Alberto's Bakery" ? 'class="active"' : '' %> ><img src="/images/ab-logo-01 Small.png" id="img-ab-logo"></a>
        <a href="/breads" <%- title === "Breads" ? 'class="active"' : '' %> >Breads</a>
        <% if (user) { %> 
            <a href="/logout">Log Out</a>
        <% } else { %>
            <a href="/auth/google" class="login">Log In&nbsp;<img src="https://i.imgur.com/FHjYyi0.png" id="google-logo"></a>
        <% } %>
    </nav>
    <main>
        <h1><%= title %></h1>