<%- include("./partials/header") %> 

<p>Alberto's Bakery is a family owned wholesale bread supplier located in Queens, NY. We have a wide variety of breads to meet any food establishment needs and provide quality bread at great prices. The purpose behind this website is so that you can leave a review if you have purchased a bread of ours or to check it out reviews to determine if you want Alberto's Bakery to be your wholesale bread supplier!</p>
<%- include("./partials/footer") %> 
