<%- include("../partials/header"); %> 
<table>
    <thead>
        <tr>
            <th>Bread Names:</th>
            <!-- for more info -->
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% breads.forEach(function(bread) { %>
            <tr>
                <td><%=bread.name%></td>
                <td><a href="/breads/<%= bread._id %> ">Learn More</a></td>
            </tr>
        <% }); %>
    </tbody>
</table>
<img src="../../images/pugliese.png" class="bread-image">
<img src="/images/kaiser-rolls.png" class="bread-image">
<img src="../../images/onion-rolls.png" class="bread-image">

<%- include("../partials/footer"); %> 

